/*
Theme Name: YOUR CHOICE COLORADO
Theme URI:
Author: the MTS-media team
Author URI: https://someadress.org/
Description: Custom theme
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: your_choice_colorado your_choice_colorado your_choice_colorado your_choice_colorado
Text Domain: your_choice_colorado

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

*{
	webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html{
	margin: 0 !important;
}

body{
	font-family: 'Roboto', Arial, Verdana, Tahoma, sans-serif;
	font-size: 16px;
	line-height: 23px;
    background: #fff;
    color: #202f65;
}

a{
	text-decoration: none;

}

li{
	list-style-type: none;
}
img{
	max-width: 100%;
	width: 100%;
	height: auto;
	display: block;
}

input[type="text"]:focus,
input[type="submit"]:focus,
input[type='email']:focus{
	outline: none;
}
input[type="zip"],
input[type="text"],
input[type='email']{
	max-width: 348px;
	width: 100%;
	height: 62px;
	padding: 9px;
	padding-left: 20px;
	border:0;
	margin-bottom: 21px;
	font-family: 'Roboto', Arial, Verdana, Tahoma, sans-serif;
	font-style: italic;
	font-size: 24px;
	line-height: 32px;
	color: #adadad;
	background: #fff;
}
input[type="submit"]{
	max-width: 161px;
	width: 100%;
	max-height: 67px;
	padding: 6px;
	border:3px solid #fff;
	font-size: 40px;
	font-family: 'Dosis', Arial, Verdana, Tahoma, sans-serif;
	font-weight: 600;
	line-height: 50px;
	text-transform: uppercase;
	background: #c01f33;
	color: #fff;
}
.not-active{
	pointer-events: none !important;
	opacity: 0.5;
}

.form-box input.yellow{
	background: #fcd703;
    margin-right: 21px;
}
.form-box input[type='submit'].yellow:hover{
	background: #c01f33;
}
.form-box input[type='submit']:hover{
	background: #fcd703;
}
.container{
	max-width: 940px;
	width: 100%;
	margin: 0 auto;
}
nav ul:before,
.container-full:before,
.container:before{
	display: table;
	content: '';
}
nav ul:after,
.container-full:after,
.container:after{
	display: table;
	content: '';
	clear: both;
}

.container-full{
	max-width: 1215px;
	width: 100%;
	margin: 0 auto;
}

/*header*/

header{
	padding:50px 0 47px;
	transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 0.4s ease-in-out; /** Firefox **/
    -o-transition: all 0.4s ease-in-out; /** Opera **/
}

#header{
	position: fixed;
	background: #fff;
	width: 100%;
	z-index: 5;
}

.logo{
	float: left;
	max-width: 100%;
}

nav{
	float: left;
	padding: 10px 0 0;
}
nav ul{
    margin-top: 7px;
    padding-left: 50px;
}

nav ul li{
	float: left;
	padding: 6px 5px 4px 5px;
	margin-right: 23px;
}
nav ul li:nth-child(4){
	margin-right: 0;
}
nav ul li a{
	font-family: 'Dosis', Arial, Verdana, Tahoma, sans-serif;
	font-size: 26px;
	line-height: 25px;
	color: #202f65;
	font-weight: 600;
}
nav ul li a:hover{
	color: #c01f33;
}

nav ul li a{
	padding: 1px 10px 3px 10px;
	border: 2px solid transparent;
}


.active a{
	padding: 1px 10px 3px 10px;
	border:2px solid #c01f33;
}
.active a:hover{
	border-color: #202f65;
	color: #202f65;
}
.active a{
	color: #c01f33;
}
.social-links-menu,
.contact{
	padding-left: 0;
	overflow: hidden;
}
.social{
	float: right;
}
ul.social-links-menu li,
ul.contact li{
	margin-right: 18px;
	float: left;
	width: 45px;
	height: 45px;
	border-radius: 50%;
  	-webkit-border-radius: 50%; 
  	-moz-border-radius: 50%; 
	background: #202f65;
}
ul.social-links-menu li:nth-child(2),
ul.contact li:nth-child(2){
	margin-right: 0;
}
ul.social-links-menu li a i:before,
ul.contact li a:before{
    display: inline-block;
    background: none;
    width: 45px;
    height: 45px;
    line-height: 50px;
    text-align: center;
    color: rgba(255,255,255,1);
}
.social-icon i:before,
.icon:before{
    font-size: 24px;
    font-family: FontAwesome;
}
.facebook i:before,
.icon-facebook:before{
	content: "\f09a";
}
.twitter i:before,
.icon-twitter:before{
	content: "\f099";
	font-size: 29px;
}

ul.social-links-menu li:hover,
ul.contact li:hover{
	background: #C01F33;
}
/*main*/
main{
    padding-top: 176px;
}
/*MAP*/

.map{
	padding-top: 49px;
    padding-bottom: 118px;
	/*background: url(assets/images/map-background.jpg)top center no-repeat;*/
	/*background-size: cover;*/
	overflow: hidden;
}
.video-section{
	padding-top: 50px;
	margin-bottom: 42px;
}

.map p,
.map h2{
	margin: 0;
	padding-bottom: 56px;
	text-align: center;
	font-family: 'Dosis', Arial, Verdana, Tahoma, sans-serif;
	font-weight: 600;
	font-size: 40px;
	line-height: 50px;
	color: #fff;
}

.map-box{
	float: left;
	width: 66%;
}

.form-box{
	float: right;
	width: 31%;
    padding: 88px 17px 0px 4px;
    text-align: center;
    width: 400px;
}
.form-box form input[type="submit"].gray{
  	background: #ABABAB!important;
}
.form-box p{
    padding-bottom: 28px;
}

/*video-section*/
.about h2,
.video-section h2{
	margin-top: 0px;
	font-family: 'Dosis', Arial, Verdana, Tahoma, sans-serif;
	font-weight: 600;
	font-size: 40px;
	line-height: 40px;
	color: #c01f33;
	text-align: center;
}
.main-video{
	margin-bottom: 18px;
}
.main-video iframe{
	width: 100%;
	min-height: 572px;
	border: 0;
}
.gallery-video{
	display: flex;
}
.item-video{
	width: 22.6%;
	float: left;
	margin-right: 30px;
	text-align: center;
}
.item-video p{
	margin-top: 16px;
	font-family: 'Roboto', Arial, Verdana, Tahoma, sans-serif;
	font-size: 18px;
	line-height: normal;
	color: #313131;
}
.item-video:nth-child(4){
	margin-right: 0;
}

.show-section{
	padding: 44px 0 50px;
	background: url(images/show-background.jpg)top center no-repeat;
	background-size: cover;
}
.show-section h2{
	margin-top: 0;
	text-align: center;
	font-family: 'Dosis', Arial, Verdana, Tahoma, sans-serif;
	font-weight: 600;
	font-size: 40px;
	line-height: 32px;
	color: #fff;
}
.show-section form{
    padding: 10px 147px;	
}
.show-section form input[type="text"],
.show-section form input[type="zip"],
.show-section form input[type="email"]{
    max-width: 302px;
    max-height: 50px;
    margin-bottom: 29px;
    text-align: center;
    font-size: 21px;
    padding-left: 9px;

}
.show-section form input[type="email"]{
	margin-right: 28px;
}

.show-section form input[type="submit"]{
	max-width: 300px;
	min-height: 50px;
	background: #202f65;
	border:none;
	display: block;
	margin:0 auto;
	font-size: 22px;
	line-height: 32px;

}
.about{
	padding: 42px 0 45px;
}
#vote{
	display: none;
}
.text-box{
	width: 48%;
	float: left;
	margin-right: 4%;
}
.text-box p{
	margin-top: 0;
	font-family: 'Roboto', Arial, Verdana, Tahoma, sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 25px;
	color: #403f3f;
}
.img-box{
	width: 48%;
	float: right;
}

.about h2{
	margin-bottom: 30px;
}

/*FOOTER*/

footer{
    padding: 60px 0 40px;
	background: #202f65;
}
.footer-wrap{
	overflow: hidden;
}

footer nav ul li a{
	color: #fff;
}

footer ul.social-links-menu li,
footer ul.contact li{
	background: #fff;
}
footer ul.social-links-menu li a i:hover:before,
footer ul.contact li a:hover:before{
	color: #fff;
}
footer ul.social-links-menu li a i:before,
footer ul.contact li a:before{
	color: #202f65;
}

footer .contact,
footer .contact{
	margin-top: 24px;
}

footer nav{
	padding-top: 17px;
}

footer .copy{
	width: 100%;
	margin-top: 35px;
	display: block;
	text-align: left;
	overflow: hidden;
	font-family: 'Roboto', Arial, Verdana, Tahoma, sans-serif;
	font-size: 12px;
	line-height: 25px;
	color: #fff;
}

/*MEDIA*/

@media screen and (max-width: 1220px){
	.container-full{
		padding: 0 2%;
	}
	.map-box{
		width: 45%;
	}
	.form-box{
		width: auto;
		padding: 0;
	}
	.form-box p{
		padding-top: 0;
	}
}
@media screen and (max-width: 980px){
	.container{
		padding: 0 30px;
	}
	nav ul li{
		margin-right: 20px;
	}
	.show-section form{
		text-align: center;
		padding: 10px 0;
	}

}
@media screen and (max-width: 950px){
	.map-box{
		width: 100%;
		float: none;
	}
	.form-box{
		float: none;
		width: 100%;
	}
	.form-box input[type="text"],
	.form-box input[type='email']{
		display: block;
		margin: 0 auto 20px;
	}
	nav ul{
    	padding-left: 7px;
	}
}
@media screen and (max-width: 902px){
	header{
    	padding: 22px 0 10px;
	}
	.logo{
		width: 240px;
	}
	nav ul li{
		margin-right: 5px;
	}

}
@media screen and (max-width: 803px){
	.text-box,
	.img-box{
		width: 100%;
		float: none;
	}
	.img-box{
		margin-bottom: 20px;
	}
	.logo{
		width: 294px;
		float: none;
		margin:0 auto;
	}
	nav ul li{
		display: inline-block;
		float: none;
	}
	nav{
		float: none;
		text-align: center;
	}
	.social{
		float: none;
		text-align: center;
	}
	ul.contact li{
		display: inline-block;
		float: none;
	}
	footer .copy{
		margin-top: 0;
		text-align: center;
	}
	#header{
		position: static;
	}
	main{
		padding-top: 0;
	}
	footer{
		padding: 36px 0 14px;
	}
}
@media screen and (max-width: 712px){
	.show-section form input[type="email"]{
		margin-right: 0;
	}
}
@media screen and (max-width: 500px){
	.item-video{
		width: 100%;
		float: none;
	}
	.gallery-video{
		display: block;
	}
	#header{
		position: static!important;
	}
}
@media screen and (max-width: 380px){
	.logo{
		width: 230px;
	}
	nav ul li{
		margin-right: 0;
	}
	input[type="submit"]{
		max-width: 141px;
	}
	.map-box{
		margin-bottom: 50px;
	}
	footer{
		padding: 35px 0 15px;
	}
	.map p,
	.map h2{
    	font-size: 28px;
    	line-height: 38px;
	}
	.about h2,
	.video-section h2{
		font-size: 29px;
	}
	.show-section h2{
		font-size: 36px;
	}
	nav ul li:nth-child(4){
		margin-top: 10px;
	}
	.form-box input.yellow{
		float: left;
	}
	.form-box input.read{
		float: right;
	}
	.map{
    	padding-bottom: 50px;
	}
	.container {
    	padding: 0 15px;
	}
	footer nav ul li a{
    	font-size: 19px;
    	line-height: 15px;
	}
	footer .contact{
		margin-top: 15px;
	}
	ul.contact li a:before,
	ul.contact li{
    	width: 35px;
    	height: 35px;
    	line-height: 36px;
	}
	.icon-twitter:before{
		font-size: 24px;
	}
}
/*ANIMATION*/

.animated { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in; 
    animation-timing-function: ease-in; 
} 

@-webkit-keyframes wiggle { 
    0% { -webkit-transform: skewX(9deg); } 
    10% { -webkit-transform: skewX(-8deg); } 
    20% { -webkit-transform: skewX(7deg); } 
    30% { -webkit-transform: skewX(-6deg); } 
    40% { -webkit-transform: skewX(5deg); } 
    50% { -webkit-transform: skewX(-4deg); } 
    60% { -webkit-transform: skewX(3deg); } 
    70% { -webkit-transform: skewX(-2deg); } 
    80% { -webkit-transform: skewX(1deg); } 
    90% { -webkit-transform: skewX(0deg); } 
    100% { -webkit-transform: skewX(0deg); } 
} 
@keyframes wiggle { 
    0% { transform: skewX(9deg); } 
    10% { transform: skewX(-8deg); } 
    20% { transform: skewX(7deg); } 
    30% { transform: skewX(-6deg); } 
    40% { transform: skewX(5deg); } 
    50% { transform: skewX(-4deg); } 
    60% { transform: skewX(3deg); } 
    70% { transform: skewX(-2deg); } 
    80% { transform: skewX(1deg); } 
    90% { transform: skewX(0deg); } 
    100% { transform: skewX(0deg); } 
} 
.wiggle:hover { 
    -webkit-animation-name: wiggle; 
    animation-name: wiggle; 
    -webkit-animation-timing-function: ease-in; 
    animation-timing-function: ease-in; 

} 
.animated.wiggle:hover { 
    -webkit-animation-duration: 0.75s; 
    animation-duration: 0.75s; 
    background: rgba(32, 47, 101, 0.82);
}
